/* 01. Tablet Style Responsive */

@media screen and (max-width: 1025px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.8rem;
    }
    h4{
        font-size: 1.375rem;
    }
    h5{
        font-size: 1.25rem;
    }
    h6{
        font-size: 1.125rem;
    }
    .section-tall{
        padding: 6em 1em 6em 1em;
    }
    .nav-btn{
        display: block;
    }
    .navbar-nav{
        display: none;
    }
    .navbar-logo-container{
        width: 50%;
    }
    .navbar-logo-container img{
        width: 50%;
    }
    .navbar-cta-container{
        display: none;
    }
    .home-content-container{
        width: 100%;
    }
    .achievement-container{
        padding: 0em 2em 2em 2em;
    }
    .about-stat,
    .about-stat-suffix{
        font-size: 3.8rem;
    }
    .service-icon{
        width: 15%;
    }
    .card-chooseus{
        padding: 3em 1em 3em 1em;
    }
    .card-faq{
        padding: 3em 1em 3em 1em;
    }
    .card-contact-cta{
        width: 65%;
        padding: 3em 3em 3em 3em;
    }
    .booking-text{
        font-size: 1.25rem;
    }
    .contact-info-container{
        width: 100%;
        padding-right: 0px;
    }
    .contact-social-container{
        flex-direction: column;
        width: 100%;
    }
    .contact-info-text{
        font-size: 1.25rem;
    }
    .blog-link{
        font-size: 1.25rem;
    }
    .recent-blog-item img{
        width: 20%;
    }
    .recent-blog-heading{
        font-size: 1rem;
    }
    .post-cta-banner{
        padding: 10em 2em 2em 2em;
    }
}

/* 02. Mobile Style Responsive */

@media screen and (max-width: 767px) {
    h1{
        font-size: 2.625rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    h5{
        font-size: 1.125rem;
    }
    h6{
        font-size: 1rem;
    }
    p{
        font-size: 0.875rem;
    }
    button, a, .btn{
        font-size: 0.875rem;
    }
    .navbar-logo-container img{
        width: 100%;
    }
    .banner-home{
        padding: 15em 1em 10em 1em;
    }
    .achievement-container{
        margin: 0px;
    }
    .about-stat,
    .about-stat-suffix{
        font-size: 2.5rem;
    }
    .service-icon{
        width: 25%;
    }
    .service-tag{
        font-size: 0.875rem;
    }
    .chooseus-image .spacer{
        height: 300px;
    }
    .faq-image .spacer{
        height: 300px;
    }
    .testimonial-content-container{
        padding: 2em 2em 2em 2em;
    }
    .testimonial-image .spacer{
        height: 250px;
    }
    .testimonial-quote{
        font-size: 16px;
    }
    .booking-text{
        font-size: 1.125rem;
    }
    .card-contact-cta{
        width: 100%;
        margin: 0px;
    }
    .progress-title{
        font-size: 0.875rem;
    }
    .contact-info-text{
        font-size: 1.125rem;
    }
    .blog-link{
        font-size: 1.125rem;
    }
    .meta-data{
        font-size: 0.875rem;
    }
    .blog-cta-title .cta-title{
        font-size: 0.875rem;
    }
    .recent-blog-item{
        flex-direction: column;
    }
    .recent-blog-item img{
        width: 100%;
        height: 300px;
    }
    .recent-blog-heading{
        font-size: 0.875rem;
    }
}

/* 03. Mobile Spacing Responsive */

@media screen and (min-width: 767px){

    /* Flex spacing (gap) */

    .gspace-md-0 { 
        gap: 0px 0px; 
    }
    .gspace-md-1 { 
        gap: 10px 10px; 
    }
    .gspace-md-2 { 
        gap: 20px 20px; 
    }
    .gspace-md-3 { 
        gap: 30px 30px; 
    }
    .gspace-md-4 { 
        gap: 40px 40px; 
    }
    .gspace-md-5 { 
        gap: 50px 50px; 
    }
    .gspace-md-100 { 
        gap: 100px 100px; 
    }

    /* Grid spacing (column-gap) */

    .gspace-x-md-0 { 
        column-gap: 0px; 
    }
    .gspace-x-md-0 { 
        column-gap: 0px; 
    }
    .gspace-x-md-1 { 
        column-gap: 10px; 
    }
    .gspace-x-md-2 { 
        column-gap: 20px; 
    }
    .gspace-x-md-3 { 
        column-gap: 30px; 
    }
    .gspace-x-md-4 { 
        column-gap: 40px; 
    }
    .gspace-x-md-5 { 
        column-gap: 50px; 
    }
    .gspace-x-md-100 { 
        column-gap: 100px; 
    }

    /* Grid spacing (row-gap) */

    .gspace-y-md-0 { 
        row-gap: 0px; 
    }
    .gspace-y-md-1 { 
        row-gap: 10px; 
    }
    .gspace-y-md-2 { 
        row-gap: 20px; 
    }
    .gspace-y-md-3 { 
        row-gap: 30px; 
    }
    .gspace-y-md-4 { 
        row-gap: 40px; 
    }
    .gspace-y-md-5 { 
        row-gap: 50px; 
    }
    .gspace-y-md-100 { 
        row-gap: 100px; 
    }

    /* Grid spacing (row-gap & column-gap) */

    .grid-spacer-md-1 { 
        --bs-gutter-x: 10px; 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-md-2 { 
        --bs-gutter-x: 20px; 
        --bs-gutter-y: 20px; 
    }
    .grid-spacer-md-3 { 
        --bs-gutter-x: 30px; 
        --bs-gutter-y: 30px; 
    }
    .grid-spacer-md-4 { 
        --bs-gutter-x: 40px; 
        --bs-gutter-y: 40px; 
    }
    .grid-spacer-md-5 { 
        --bs-gutter-x: 50px; 
        --bs-gutter-y: 50px; 
    }
    .grid-spacer-md-100 { 
        --bs-gutter-x: 100px; 
        --bs-gutter-y: 100px; 
    }

    /* Grid spacing (column-gap) */

    .grid-spacer-x-md-0 { 
        --bs-gutter-x: 0px; 
    }
    .grid-spacer-x-md-1 { 
        --bs-gutter-x: 10px; 
    }
    .grid-spacer-x-md-2 { 
        --bs-gutter-x: 20px; 
    }
    .grid-spacer-x-md-3 { 
        --bs-gutter-x: 30px; 
    }
    .grid-spacer-x-md-4 { 
        --bs-gutter-x: 40px; 
    }
    .grid-spacer-x-md-5 { 
        --bs-gutter-x: 50px; 
    }
    .grid-spacer-x-md-100 { 
        --bs-gutter-x: 100px; 
    }

    /* Grid spacing (row-gap) */

    .grid-spacer-y-md-0 { 
        --bs-gutter-y: 0px; 
    }
    .grid-spacer-y-md-1 { 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-y-md-2 { 
        --bs-gutter-y: 20px; 
    }
    .grid-spacer-y-md-3 { 
        --bs-gutter-y: 30px; 
    }
    .grid-spacer-y-md-4 { 
        --bs-gutter-y: 40px; 
    }
    .grid-spacer-y-md-5 { 
        --bs-gutter-y: 50px; 
    }
    .grid-spacer-y-md-100 { 
        --bs-gutter-y: 100px; 
    }
}

/* 04. Tablet Spacing Responsive */

@media screen and (min-width: 1025px){
    /* Flex spacing (gap) */
    .gspace-xl-0 { 
        gap: 0px 0px; 
    }
    .gspace-xl-1 { 
        gap: 10px 10px; 
    }
    .gspace-xl-2 { 
        gap: 20px 20px; 
    }
    .gspace-xl-3 { 
        gap: 30px 30px; 
    }
    .gspace-xl-4 { 
        gap: 40px 40px; 
    }
    .gspace-xl-5 { 
        gap: 50px 50px; 
    }
    .gspace-xl-100{
        gap: 100px 100px;
    }

    /* Grid spacing (column-gap) */

    .gspace-x-xl-0 { 
        column-gap: 0px;
    }
    .gspace-x-xl-1 { 
        column-gap: 10px; 
    }
    .gspace-x-xl-2 {
         column-gap: 20px; 
    }
    .gspace-x-xl-3 { 
        column-gap: 30px; 
    }
    .gspace-x-xl-4 { 
        column-gap: 40px; 
    }
    .gspace-x-xl-5 { 
        column-gap: 50px; 
    }
    .gspace-x-xl-100{
        column-gap: 100px;
    }

    /* Grid spacing (row-gap) */

    .gspace-y-xl-0 { 
        row-gap: 0px; 
    }
    .gspace-y-xl-1 { 
        row-gap: 10px; 
    }
    .gspace-y-xl-2 { 
        row-gap: 20px; 
    }
    .gspace-y-xl-3 { 
        row-gap: 30px; 
    }
    .gspace-y-xl-4 { 
        row-gap: 40px; 
    }
    .gspace-y-xl-5 { 
        row-gap: 50px; 
    }
    .gspace-y-xl-100 {
        row-gap: 100px;
    }

    /* Grid spacing (row-gap & column-gap) */

    .grid-spacer-xl-0 { 
        --bs-gutter-x: 0px; 
        --bs-gutter-y: 0px; 
    }
    .grid-spacer-xl-1 { 
        --bs-gutter-x: 10px; 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-xl-2 { 
        --bs-gutter-x: 20px; 
        --bs-gutter-y: 20px; 
    }
    .grid-spacer-xl-3 { 
        --bs-gutter-x: 30px; 
        --bs-gutter-y: 30px; 
    }
    .grid-spacer-xl-4 { 
        --bs-gutter-x: 40px; 
        --bs-gutter-y: 40px; 
    }
    .grid-spacer-xl-5 { 
        --bs-gutter-x: 50px; 
        --bs-gutter-y: 50px; 
    }
    .grid-spacer-xl-100 { 
        --bs-gutter-x: 100px; 
        --bs-gutter-y: 100px; 
    }

    /* Grid spacing (column-gap) */

    .grid-spacer-x-xl-0 { 
        --bs-gutter-x: 0px; 
    }
    .grid-spacer-x-xl-1 { 
        --bs-gutter-x: 10px; 
    }
    .grid-spacer-x-xl-1 { 
        --bs-gutter-x: 10px; 
    }
    .grid-spacer-x-xl-2 { 
        --bs-gutter-x: 20px;
    }
    .grid-spacer-x-xl-3 { 
        --bs-gutter-x: 30px; 
    }
    .grid-spacer-x-xl-4 { 
        --bs-gutter-x: 40px; 
    }
    .grid-spacer-x-xl-5 { 
        --bs-gutter-x: 50px; 
    }
    .grid-spacer-x-xl-100 { 
        --bs-gutter-x: 100px; 
    }

    /* Grid spacing (row-gap) */

    .grid-spacer-y-xl-0 { 
        --bs-gutter-y: 0px; 
    }
    .grid-spacer-y-xl-1 { 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-y-xl-1 { 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-y-xl-2 { 
        --bs-gutter-y: 20px; 
    }
    .grid-spacer-y-xl-3 { 
        --bs-gutter-y: 30px; 
    }
    .grid-spacer-y-xl-4 { 
        --bs-gutter-y: 40px; 
    }
    .grid-spacer-y-xl-5 { 
        --bs-gutter-y: 50px; 
    }
    .grid-spacer-y-xl-100 { 
        --bs-gutter-y: 100px; 
    }
}